<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code.thiru.farmfinal">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_farm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".language" />
        <activity android:name=".plant" />
        <activity android:name=".inputs" />
        <activity android:name=".organic" />
        <activity android:name=".inorganic" />
        <activity android:name=".fertilizer" />
        <activity android:name=".amir" />
        <activity android:name=".panchakaa" />
        <activity android:name=".insects" />
        <activity android:name=".green" />
        <activity android:name=".jeeva" />
        <activity android:name=".pestdetail" />
        <activity android:name=".tamilfertilizer" />
        <activity android:name=".tamilinsects" />
        <activity android:name=".topics" />
        <activity android:name=".tamilplant" />
        <activity android:name=".tamilinorganic" />
        <activity android:name=".tamilorganic" />
        <activity android:name=".tamilpest"></activity>
    </application>

</manifest>